<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="farmaceutica.taes.farmaceutica">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity android:name="presentacion.controlador.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">

                </action>
                <category android:name="android.intent.category.LAUNCHER">

                </category>
            </intent-filter>
        </activity>
    </application>

</manifest>
